[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
click = "*"
requests = "*"
pylint = "*"
pillow = "*"
"autopep8" = "*"

[requires]
python_version = "2.7"
